body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
  color: white;
}

#game {
  margin-top: 50px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}

#puzzle {
  margin-top: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}
